.Add_car{
    padding-left: 18%;
    padding-right: 18%;
}
.Removecar{
    padding-left: 18%;
    padding-right: 18%;
     
}
.Update{
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 3%;
}