.Navbar2{
 
    padding: auto;
    margin: auto;
}
.bname{
     
    font-family: fantasy,serif;
    color:black;
    letter-spacing: 1mm;
    display: inline;
    justify-content: left;
    width: auto;
  
}
.desc{
    
    color:black;
    font-family: serif;
 
    
    
}
.responsive{ width: auto;
    height:auto;
    max-width: 200px;
    max-height: 40px;
   

}
 